//-
	SBHS-Timetable-Node: Countdown and timetable all at once (NodeJS app).
	Copyright (C) 2014 James Ye, Simon Shields

	This file is part of SBHS-Timetable-Node.

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.

	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
doctype html
html
	include header.jade
		title SBHS Timetable #{page}
		style
			include ../style/index.css
		meta(name="application-name",content="SBHS Timetable")
		meta(name="mobile-web-app-capable",content="yes")
		meta(name="apple-mobile-web-app-capable",content="yes")
		meta(name="apple-mobile-web-app-status-bar-style",content="black")
		link(rel="stylesheet",href="//cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css",type="text/css")
		link(rel="icon",href="../static/icon-hires.png",sizes="196x196")
		link(rel="apple-touch-icon",href="../static/icon-hires.png",sizes="196x196")
		script
			include ../srv/jquery.min.js
		script
			include ../srv/jquery.velocity.min.js
		script(async,defer,src="//cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js")
		script(async,src="/script/belltimes.concat.js?cachingsucks")
		if holidays
			style
				include ../style/holidays.css
			script
				|window.HOLIDAYS = true;
				="window.holEnd = " + holEnd
				|setTimeout(function() {
				|	$('audio').each(function() { this.pause() });
				|}, now-window.holEnd);
		else
			script
				|window.HOLIDAYS = false;
				if holEnd - Date.now() < (1000 * 60 * 60 * 24 * 3) && reallyInHolidays
					="window.holEnd = " + holEnd + ";"
					|setTimeout(function() {
					|	$('#groovy')[0].pause();
					|	$('#groovy')[0].removeAttribute('controls');
					|	$('#disable-grooviness').velocity('slideUp');
					|}, holEnd - Date.now());
					|console.log('Will stop music in ' + (holEnd - Date.now()) + 'ms')

	body
		div#content
			div#period-name
				span#period-label Something
				div#in
					span#in-label happens
					div#countdown
						span#countdown-label any second now…
		yield
		div.ss.changed#top-line-notice
		div.ss#sidebar
			div.sidebar-item#next
			span.sidebar-item#login-status
			|&nbsp;&nbsp;
			span.sidebar-item#cached
				span#shortdata
					span#shortdata-desc B: ? T: ? N: ?
					span#dropdown-arrow
					br
					span#verbose-hidden
						|Bells:
						span#belltimes.idk …
						br
						|Timetable:
						span#timetable.idk …
						br
						|Notices:
						span#notices.idk …
			div.sidebar-item.animated.changed#rtd-unavailable
		div.really-annoying#tl RC
		div.really-annoying#br RC
		div.ss.pane#left-pane
			div.umad
				a(href="/try_do_oauth") Log in to show your timetable
		div.arrow#left-pane-arrow
		div.ss.pane#top-pane
			div.umad
				a(href="/try_do_oauth") Log in to show the daily notices
		div.arrow#top-pane-arrow
		div.ss.pane#right-pane
			div.umad
				| Oops. :(
		div.arrow#right-pane-arrow
		div#links
			a(href="https://docs.google.com/forms/d/18VjH5GM80Xl0C1KBRpCrwTXUCiK8G2sg9Z6lDuNA7vk/viewform?usp=send_form",title="Feedback") Feedback
			|&nbsp;|&nbsp;
			a(href="https://github.com/sbhs-forkbombers/sbhs-timetable-node",title="Source") Source
			|&nbsp;|&nbsp;
			a(href="https://github.com/sbhs-forkbombers/sbhs-timetable-node/wiki",title="About") About
		div.nomobile#update Welcome to SBHS Timetable v2.0! Now with waaaay less typing.&nbsp;
			a(href="/try_do_oauth",title="Login") Login and take a look at the left-hand pane!
		div.nomobile#expand-toggle
			div#expand.mega-octicon.octicon-screen-full
			div#collapse.mega-octicon.octicon-screen-normal
		-console.log(holEnd, Date.now(), reallyInHolidays)
		if (holEnd - Date.now() < (1000 * 60 * 60 * 24 * 3) && reallyInHolidays) || grooveOverride
			a#disable-grooviness(href="javascript:void(0)",onclick="document.getElementById('groovy').controls = true;document.getElementById('groovy').style.display = 'block';")
				|Control the <em>groove</em>
			audio#groovy(autoplay,loop)
				source(src="https://d2g9v1gts353nd.cloudfront.net/tumblr_lis9otqLNE1qca9pxo1.mp3",type="audio/mpeg")
