//-
	Copyright (C) 2014 James Ye, Simon Shields

	This file is part of SBHS-Timetable-Node.

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.

	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
doctype html
html
	include header.jade
		title SBHS Timetable #{page}
		style
			include ../style/index.css
			
		//-link(rel="stylesheet",href="/style/main.css")
		//-link(href='//fonts.googleapis.com/css?family=Roboto+Condensed:400&subset=latin',rel='stylesheet',type='text/css')
		script(async,defer,src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		script(async,defer,src="//cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js")
		script(async,src="/script/belltimes.concat.js")
	body
		div#content
			div#period-name
				span#period-label Undefined
				div#in
					span#in-label ends in
					div#countdown
						span#countdown-label NaN:NaN:NaN
		yield
		div#top-line-notice
		div#sidebar
			span#login-status
			span#next
		div.really-annoying#tl ALPHA
		div.really-annoying#br ALPHA
		div#left-pane
		div#left-pane-arrow
