//-
	SBHS-Timetable-Node: Countdown and timetable all at once (NodeJS app).
	Copyright (C) 2014 James Ye, Simon Shields

	This file is part of SBHS-Timetable-Node.

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.

	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
doctype html
html(lang="en")
	include header.jade
		meta(name="application-name", content="SBHS Timetable")
		meta(name="mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="black")
		meta(name="description",content="No more spontaneous room changes, suprise visits from your favourite substitute teachers or wasted time calculating how long there is left!")
		link(rel="icon", href="/icon.png", sizes="192x192")
		link(rel="apple-touch-icon", href="/icon.png", sizes="192x192")
		| <!--[if IE]><script defer="defer" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script><![endif]-->
		link(href="//cdnjs.cloudflare.com/ajax/libs/octicons/2.1.2/octicons.min.css", rel="stylesheet", type="text/css")
		script(async, defer, src="//cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js")
		script(defer, src="//cdnjs.cloudflare.com/ajax/libs/velocity/1.1.0/velocity.min.js")
		script(defer, src="//cdnjs.cloudflare.com/ajax/libs/velocity/1.1.0/velocity.ui.min.js")
		script
			include ../srv/zepto.min.js
		title SBHS Timetable #{page}
		script(async, src="/script/belltimes.concat.js?cachingsucks")
		script
			!="window.colour = '" + colour + "';"
			!="window.inverted = " + inverted + ";"
			!="window.colourscheme = " + JSON.stringify(cscheme) + ";"
		style
			=css
		if testing
			script(defer, src="http://sinonjs.org/releases/sinon-1.10.3.js")
		if holidays
			style
				include ../style/holidays.css
			script
				|window.HOLIDAYS = true;
				="window.holEnd = " + holEnd + ";"
				|setTimeout(function() {
				|	$('audio').each(function() { this.pause() });
				|}, Date.now()-window.holEnd);
		else
			script
				|window.HOLIDAYS = false;
				="window.holEnd = " + holEnd + ";"
				|var now = Date.now();
				if holEnd - Date.now() < (1000 * 60 * 60 * 24 * 3) && reallyInHolidays
					|setTimeout(function() {
					|	$('#groovy')[0].pause();
					|	$('#groovy')[0].removeAttribute('controls');
					|	$('#disable-grooviness').velocity('slideUp');
					|}, holEnd - Date.now());
					|console.log('Will stop music in ' + (holEnd - Date.now()) + 'ms')
				else if holEnd - Date.now() < (1000 * 60 * 60 * 24 * 3)
					|function holidaysOver() {
					|	$('audio').each(function() { this.pause() });
					|	$('#disable-grooviness').css({'display': 'block'});
					|	$('body,.pane').css({'background-image': 'url(/static/HOLIDAYS.jpg)', 'color':'black'});
					|	window.HOLIDAYS = true;
					|	loadComplete();
					|}
					|function playTheGroove() {
					|	$('audio').each(function() { this.play() });
					|	$('#disable-grooviness').css({'display': 'block'});
					|	$('body,.pane').css({'background-image': 'url(/static/ALMOSTHOLIDAYS.jpg)','color':'black'});
					|	var b = function snazzyCountdown() {
					|		snazzify('#countdown-label');
					|		snazzify('#in-label');
					|		snazzify('#period-label');
					|		setTimeout(b, 500);
					|	}
					|	setTimeout(b, 250);
					|}
					|setTimeout(holidaysOver, window.holEnd - now);
					|setTimeout(playTheGroove, (window.holEnd - now) - (1000 * 60 * 55));

	body
		div#content
			div#period-name
				span#period-label Something
				div#in
					span#in-label happens
					div#countdown
						span#countdown-label any second now…
		yield
		div.ss.changed#top-line-notice
		div.ss#sidebar
			div.sidebar-item#next
			span.sidebar-item#login-status
			|&nbsp;&nbsp;&nbsp;&nbsp;
			a.sidebar-item.octicon.octicon-gear#launch-settings(href="javascript:void(0)")
			|&nbsp;&nbsp;&nbsp;&nbsp;
			span.sidebar-item#cached
				span#shortdata
					span#shortdata-desc B: ? T: ? N: ?
					span.arrow#dropdown-arrow
					br
					span#verbose-hidden
						|Bells:&nbsp;
						span#belltimes.idk …
						br
						|Timetable:&nbsp;
						span#timetable.idk …
						br
						|Notices:&nbsp;
						span#notices.idk …
						br
		div.ss.pane#left-pane
			div.umad
				if !loggedIn
					a(onclick="location.href='/try_do_oauth'") Log in
					|&nbsp;to show your timetable
				else
					|¯\_(ツ)_/¯ Loading ¯\_(ツ)_/¯
		div.arrow#left-pane-arrow
		div.target#left-pane-target
		div.ss.pane#top-pane
			div.umad
				if !loggedIn
					a(onclick="location.href='/try_do_oauth'") Log in
					|&nbsp;to show the daily notices
				else
					|¯\_(ツ)_/¯ Loading ¯\_(ツ)_/¯
		div.arrow#top-pane-arrow
		div.target#top-pane-target
		div.ss.pane#right-pane
			div.umad
				|Oops. :(
		div.arrow#right-pane-arrow
		div.target#right-pane-target
		div.target#bottom-pane-target
		div.nomobile#update
			if colour == 'purple'
				//- purple
				|Shout-out to Nelson. Hi.
			else if colour == 'red'
				//- red
				|Hi Jayden.
			else if colour == 'green'
				//- green
				|I think you just got Shrek'd
			yield
			|&nbsp;&nbsp;
			a(href="https://play.google.com/store/apps/details?id=com.sbhstimetable.sbhs_timetable_android",title="app app app") IT'S AN APP! (beta)
		div.nomobile#expand-toggle
			div#expand.mega-octicon.octicon-screen-full
			div#collapse.mega-octicon.octicon-screen-normal
		a#disable-grooviness(href="javascript:void(0)", onclick="document.getElementById('groovy').controls = true;document.getElementById('groovy').style.display = 'block';",style="display:none")
			|Control the <em>groove</em>
		if (holEnd - Date.now() < (1000 * 60 * 60 * 24 * 3) && reallyInHolidays) || grooveOverride
			audio#groovy(autoplay, loop)
				source(src="https://ia700209.us.archive.org/9/items/TheFinalCountdown-Europe/Europe-TheFinalCountdown.mp3",type="audio/mpeg")
		div#background-image
			//- this is necessary because velocity.js is shifty.
		div#settings-modal
			a(href="javascript:void(0)")
				div#close-settings-modal.mega-octicon.octicon-x
			table#settings-table
				tr
					td#background-lbl.col1 Background Image
					td#background-select
						button#custom-background Choose...
				tr
					td#colourscheme.col1 Colour scheme
					td#colourscheme-select
						select#colourscheme-combobox
							option(value="") White
							option(value="red") Red
							option(value="green") Green
							option(value="purple") Purple
				tr
					td#invert.col1
						label(for="invert-enable") Invert?
					td#invert-val
						input#invert-enable(type="checkbox")
			div#links
				a(href="https://docs.google.com/forms/d/18VjH5GM80Xl0C1KBRpCrwTXUCiK8G2sg9Z6lDuNA7vk/viewform?usp=send_form", title="Feedback") Feedback
				|&nbsp;|&nbsp;
				a(href="https://github.com/sbhs-forkbombers/sbhs-timetable-node", title="Source") Source
				|&nbsp;|&nbsp;
				a(href="/faq.html", title="FAQ") FAQ

		div#fadeout
