doctype html
html
	//-
		head
		title= something ? "Something" : "Nothing"	
		link(rel="stylesheet", href="/style/base.css")
	include header.jade
	body
		h1 Hello there
		p
			| this is jade
		marquee
			| pretty cool, huh?

