//-
	SBHS-Timetable-Node: Countdown and timetable all at once (NodeJS app).
	Copyright (C) 2014 James Ye, Simon Shields

	This file is part of SBHS-Timetable-Node.

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.

	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
doctype html
html(lang=en)
	head
		meta(charset="UTF-8")
		meta(http-equiv="x-ua-compatible", content="IE=edge")
		meta(name="viewport",content="device-width,initial-scale=1")
		link(href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,400italic', rel='stylesheet', type='text/css')
		title SBHS Timetable
		meta(name="application-name", content="SBHS Timetable")
		meta(name="mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="black")
		meta(name="description", content="No more spontaneous room changes, suprise visits from your favourite substitute teachers or wasted time calculating how long there is left!")
		meta(name="theme-color", content="#455ede")

		link(rel="icon", href="/icon.png", sizes="192x192")
		link(rel="apple-touch-icon", href="/icon.png", sizes="192x192")

		link(href="//cdnjs.cloudflare.com/ajax/libs/octicons/2.1.2/octicons.min.css", rel="stylesheet", type="text/css")
		link(href="/less/index.css"+(scheme.query||''), rel="stylesheet", type="text/css")

		<!--[if IE]>
		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		<![endif]-->
		script(defer, src="//cdnjs.cloudflare.com/ajax/libs/velocity/1.2.1/velocity.min.js")
		script(defer, src="//cdnjs.cloudflare.com/ajax/libs/velocity/1.2.1/velocity.ui.min.js")
		//-script(src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.1.4/zepto.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js")
		<!--[if !IE]> -->
		script
			include ../srv/zepto.min.js
		<!--<![endif]-->
		script
			!="\n"
			!="window.config = JSON.parse('" + args + "');"
		//-script!="window.config = " + JSON.stringify(args);
		script(async, src="/script/belltimes.concat.js?v=1")

		include ../dynamic/analyse.jade
	body
		#content
			#period-name
				span#period-label Something
				#in
					span#in-label happens
					#countdown
						span#countdown-label.animated pretty soon…
		.ss.changed#top-line-notice
		.ss#sidebar
			.sidebar-item#next
			span.sidebar-item#login-status
			|&nbsp;&nbsp;&nbsp;&nbsp;
			a.sidebar-item.octicon.octicon-gear#launch-settings(href="javascript:void(0)")
			|&nbsp;&nbsp;&nbsp;&nbsp;
			span.sidebar-item#cached
				span#shortdata
					span#shortdata-desc 
						span#sdata-bells B: 
							span#sdata-bells-val ? 
						span#sdata-timetable T: 
							span#sdata-timetable-val ? 
						span#sdata-notices N: 
							span#sdata-notices-val ?
					span.arrow#dropdown-arrow

					#verbose-hidden
						|Bells:&nbsp;
						span#belltimes.idk …
						br
						|Timetable:&nbsp;
						span#timetable.idk …
						br
						|Notices:&nbsp;
						span#notices.idk …
						br
		.ss.pane#left-pane
			.umad
				if !config.loggedIn
					a(href="/try_do_oauth") Log in
					|&nbsp;to show your timetable
				else
					|¯\_(ツ)_/¯ Loading ¯\_(ツ)_/¯
		.arrow#left-pane-arrow
		.target#left-pane-target
		.ss.pane#top-pane
			.umad
				if !config.loggedIn
					a(href="/try_do_oauth") Log in
					|&nbsp;to show the daily notices
				else
					|¯\_(ツ)_/¯ Loading ¯\_(ツ)_/¯
		.arrow#top-pane-arrow
		.target#top-pane-target
		.ss.pane#right-pane
			.umad
				|¯\_(ツ)_/¯ Loading ¯\_(ツ)_/¯
		.arrow#right-pane-arrow
		.target#right-pane-target
		.nomobile#update
			a(href="https://play.google.com/store/apps/details?id=com.sbhstimetable.sbhs_timetable_android",title="app app app") IT'S AN APP! (beta)
		#background-image 
			//- ty velocity
		#settings-modal
			a(href="javascript:void(0)")
				div#close-settings-modal.mega-octicon.octicon-x
			table#settings-table
				tr
					td#background-lbl.col1 Background Image
					td#background-select
						button#custom-background Choose...
				tr
					td#colourscheme.col1 Colour scheme
					td#colourscheme-select
						select#colourscheme-combobox
							option(value="") White
							option(value="red") Red
							option(value="green") Green
							option(value="purple") Purple
				tr
					td#invert.col1
						label(for="invert-enable") Invert?
					td#invert-val
						input#invert-enable(type="checkbox")
		#yt
		#links
			a(href="https://docs.google.com/forms/d/18VjH5GM80Xl0C1KBRpCrwTXUCiK8G2sg9Z6lDuNA7vk/viewform?usp=send_form", title="Feedback") Feedback
			|&nbsp;|&nbsp;
			a(href="https://github.com/sbhs-forkbombers/sbhs-timetable-node", title="Source") Source
			|&nbsp;|&nbsp;
			a(href="/faq.html", title="FAQ") FAQ
		#fadeout






















