//-
	SBHS-Timetable-Node: Countdown and timetable all at once (NodeJS app).
	Copyright (C) 2014 James Ye, Simon Shields

	This file is part of SBHS-Timetable-Node.

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.

	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
doctype html
html
	include header.jade
		title SBHS Timetable #{page}
		style
			include ../style/index.css
			include ../style/octicons.css
		meta(name="application-name",content="SBHS Timetable")
		meta(name="mobile-web-app-capable",content="yes")
		meta(name="apple-mobile-web-app-capable",content="yes")
		meta(name="apple-mobile-web-app-status-bar-style",content="black")
		link(rel="icon",sizes="196x196",href="../static/icon-hires.png")
		link(rel="apple-touch-icon",sizes="196x196",href="../static/icon-hires.png")
		script
			include ../srv/jquery.min.js
		script
			include ../srv/jquery.velocity.min.js
		script(async,defer,src="//cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js")
		script(async,src="/script/belltimes.concat.js?cachingsucks")
		if holidays
			style
				include ../style/holidays.css
			script.
				window.HOLIDAYS = true;
				function snazzify(el) {
					var r = Math.floor(Math.random()*255);
					var g = Math.floor(Math.random()*255);
					var b = Math.floor(Math.random()*255);
					el.style.color = 'rgb('+r+','+g+','+b+')';
				}
		else
			script.
				window.HOLIDAYS = false;

	body
		div#content
			div#period-name
				span#period-label Something
				div#in
					span#in-label happens
					div#countdown
						span#countdown-label any second now…
		yield
		div.ss.changed#top-line-notice
		div.ss#sidebar
			div.sidebar-item#next
			span.sidebar-item#login-status
			|&nbsp;&nbsp;
			span.sidebar-item#cached
				span#shortdata
					span#shortdata-desc B: ? T: ? N: ?
					span#dropdown-arrow
					br
					span#verbose-hidden
						|Bells:
						span#belltimes.idk …
						br
						|Timetable:
						span#timetable.idk …
						br
						|Notices:
						span#notices.idk …
			div.sidebar-item.animated.changed#rtd-unavailable
		div.really-annoying#tl BETA
		div.really-annoying#br BETA
		div.ss.pane#left-pane
			div.umad
				a(href="/try_do_oauth") Log in to show your timetable
		div.arrow#left-pane-arrow
		div.ss.pane#top-pane
			div.umad
				a(href="/try_do_oauth") Log in to show the daily notices
		div.arrow#top-pane-arrow
		div.ss.pane#right-pane
			div.umad
				| Oops.
		div.arrow#right-pane-arrow
		div#feedback
			a(href="https://docs.google.com/forms/d/18VjH5GM80Xl0C1KBRpCrwTXUCiK8G2sg9Z6lDuNA7vk/viewform?usp=send_form",title="feedback") Feedback
		div#update We intend to move this to the front page in the next couple of weeks. How exciting!
		div#expand-toggle
			//- Using actual images is to mainstream. These images can be found at static/expand.png and static/collapse.png
			div#expand.mega-octicon.octicon-screen-full
			//-(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8BAMAAADI0sRBAAAAD1BMVEX///////////8AAAD///9h0jmkAAAAA3RSTlMAEFDb34d7AAAASUlEQVQ4y2NgMEYCBgzogNkFCWBKK+OXNhlgaTweM8GqaVR6yEpjj+ZRMBgBOE/ij2nnUekhL80MK35xSCMX4INY2hi3x0BAAADMnluHhOtETAAAAABJRU5ErkJggg==")
			div#collapse.mega-octicon.octicon-screen-normal
			//-(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8AgMAAABHkjHhAAAADFBMVEX///////8AAAD///8FAGTCAAAAAnRSTlMAQABPjKgAAABRSURBVCjPY2AAAq1VKxiQgf7/H8OWvwoI1iPx9/8HAUr5T9D4D1D5vxpQ7F+1gGH4AbDHVsG5bOBw+Afna6Px9anOf4Vivz5SHAxHvhYkEQEAPYKo5chi7SMAAAAASUVORK5CYII=")
