doctype html
html
	//-
		head
		title= something ? "Something" : "Nothing"	
		link(rel="stylesheet", href="/style/base.css")
	include header.jade
		style.
			.countdown{text-align:center;}
			#countdown{font-size:100px;font-weight:100;}
			#period-name{font-size:50px;font-weight:100;}
			#in{font-size:16px;}
	body
		div#content
			div#period-name.countdown
				span#period-label Undefined
				div#in.countdown
					span#in-label ends in
					div#countdown.countdown
						span#countdown-label NaN:NaN:NaN
		link(rel="stylesheet",href="/style/main.css")
