doctype html
html
	include header.jade
		style.
			.countdown{text-align:center;}
			#countdown{font-size:100px;font-weight:100;}
			#period-name{font-size:50px;font-weight:100;}
			#in{font-size:16px;}
		script(async,defer,src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		script(async,defer,src="//cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js")
		script(async,defer,src="/script/belltimes.v2.js")
	body
		div#content
			div#period-name.countdown
				span#period-label Undefined
				div#in.countdown
					span#in-label ends in
					div#countdown.countdown
						span#countdown-label NaN:NaN:NaN
		link(rel="stylesheet",href="/style/main.css")
