body {
	font-family: "Roboto", "Segoe UI", sans-serif;
	background-color: black;
	color: white;
}

a {
	color: white;
	-webkit-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease

}

a:hover {
	color: #33B5E5;
}
