body {
	background-image: url(http://cdn.gnustomp.com/~redleaf59/HOLIDAYS.jpg);
}

#left-pane {
	background-image: url(http://cdn.gnustomp.com/~redleaf59/HOLIDAYS.jpg);
	color: #ff80ab;
	background-position: 0 350px;
}
