#content {
	position: absolute;
	top: 20px;
	left: 0;
	width: 100%;
	text-align: center;
	font-weight: 100;
	font-size: 50px;
}

#period-name {
	font-size: 50px;
}

#in {
	font-size: 16px;
	font-weight: 400;
}

#countdown {
	font-size: 100px;
	font-weight: 100;
}

#sidebar {
	position: fixed;
	right: 0;
	top: 0;
	text-align: right;
}

#top-line-notice {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center
}

.really-annoying {
	position: fixed;
	font-size: 50px;
	font-weight: 100;
	z-index: -1;
	color: #CC0000
}

#tl {
	top: 0;
	left: 0
}

#br {
	bottom: 0;
	right: 0
}
