#content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.countdown {
	text-align: center;
}

#countdown {
	font-size: 100px;
	font-weight: 100;
}

#in {
	font-size: 16px;
	font-weight: normal;
}

#period-name {
	font-size: 50px;
	font-weight: 100;
}
