@font-face {
  font-family: 'octicons';
  src: url('http://cdn.sbhstimetable.tk/~redleaf59/octicons/octicons.woff2') format('woff2'),
       url('http://cdn.sbhstimetable.tk/~redleaf59/octicons/octicons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*

.octicon is optimized for 16px.
.mega-octicon is optimized for 32px but can be used larger.

*/
.octicon {
  font: normal normal 16px octicons;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mega-octicon {
  font: normal normal 32px octicons;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.octicon-alert:before { content: '\f02d'} /*  */
.octicon-gear:before { content: '\f02f'}
.octicon-sign-out:before { content: '\f032'} /*  */
.octicon-sign-in:before { content: '\f036'} /*  */
.octicon-check:before { content: '\f03a'} /*  */
.octicon-screen-full:before { content: '\f066'} /*  */
.octicon-screen-normal:before { content: '\f067'} /*  */
.octicon-x:before { content: '\f081'} /*  */
